html {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    margin:0;
    padding 0;
}

#container {
    margin:0;
    padding: 0;
}

#nav {
    background-color:burlywood;
    margin: 0;
    padding: 0;
    display: block;
    height: 45px;
}

#nav-left {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    float: left;
    position: relative;
}

#nav-right{
    background-color:bisque;
    display: block;
    height: 100%;
    float: right;
}

#footer {
    
}
|
ul{
    list-style: none;
}

ul li {
    display: inline;
    margin: auto 25px 0px 0px;
}
